
div(class="row fill-height")
    div(class="col-sm-3 hidden-xs fill-height" style="padding-left:10px;padding-right:10px")
        div(class="panel panel-default fill-height" style="overflow-y: auto")
            div(class="list-group")
                a(ng-repeat="chat in chats" href="#" ng-click="$emit('cloudchat.run','$cw ' + chat.friend.username)" 
                    class="list-group-item {{chat == activeChat ? 'active':''}}")
                    |{{chat.friend.fullName}}
                    span(class="badge" ng-show="countUnreadMessages(chat) > 0")
                        |{{countUnreadMessages(chat)}}
                        
    div(class="col-xs-2 visible-xs fill-height" style="padding-left:10px;padding-right:10px")
        div(class="panel panel-default fill-height" style="overflow-y: auto")
            div(class="list-group")
                a(ng-repeat="chat in chats" href="#" ng-click="$emit('cloudchat.run','$cw ' + chat.friend.username)" 
                    class="list-group-item {{chat == activeChat ? 'active':''}}" style="padding-left:10px;padding-right:10px")
                    |{{chat.friend.fullName | toShortName}}
                    span(class="badge" ng-show="countUnreadMessages(chat) > 0")
                        |{{countUnreadMessages(chat)}}                    


    div(class="col-sm-9 col-xs-10 fill-height" style="padding-left:0px;padding-right:10px")
        div(class="panel panel-info fill-height" style="padding-bottom: 80px")
            div(id="content-box" class="panel-body fill-height bottom" style="overflow-y: auto")
                include message/list.jade
                include friend/list.jade
            div(class="panel-footer" style="height: 80px")
                textarea(class="form-control fill-height" ng-keypress="onInputKeypress($event)" 
                    ng-keyup="onInputKeyup($event)"
                    ng-keydown="onInputKeydown($event)"
                    ng-trim="false"
                    style="width: 100%;resize: none"
                    ng-model="input")
