table(id="table-content" style="width:100%" cellpadding="0" cellspacing="0")
    tr
        td(style="width: 20%;border-right: 1px solid #CCC;vertical-align: top" )
            div(ng-repeat="chat in chats")
                img(ng-src="/image/online_bullet.png" ng-show="chat.friend.onlineStatus == 'online'")
                img(ng-src="/image/offline_bullet.png" ng-show="chat.friend.onlineStatus == 'offline'")
                a(class="command-link"
                    ng-click="$emit('cloudchat.run','$cw ' + chat.friend.username)"
                    style = "{{chat == activeChat ? 'text-decoration: underline':''}}" )
                    |{{chat.friend.fullName + (countUnreadMessages(chat) > 0 ? ' (' + countUnreadMessages(chat) + ')' : '')}}
        td(style="vertical-align: top;height:{{contentBox.height + 'px'}}")
            div(id="content-box" style="height:100%;width:100%;overflow-y:auto"
                onresize="console.debug('resizing...')")
                include message/list.jade
                include friend/list.jade

textarea(id="command-input"
        ng-keypress="onInputKeypress($event)" 
        ng-keyup="onInputKeyup($event)"
        ng-keydown="onInputKeydown($event)"
        ng-trim="false"
        style="width: 100%;resize: none" 
        rows="3" 
        ng-model="input")